@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Protest+Revolution&family=Ubuntu:ital,wght@0,400;0,500;1,400;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
    list-style: none;
    text-decoration: none;
    /****#ff4400*/
}
.num1{
    width: 100%;
    height: 600px;
}
nav{
    margin-left: 20px;
    width: 97%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(241, 234, 222, 0.438);
}
nav .logo{
    font-size: 28px;
    color: #000;
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    transition: 0.3s;
}
nav .logo:hover{
    color:#ff4400;
}
nav .logo span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    color:#ff4400;
}
nav ul{
    display: flex;
   
}
nav ul li{
    margin: 0 15px;
   
}
nav ul li a{
    font-size: 18px;
    color: rgb(41, 41, 41);
    text-transform: uppercase;
    transition: 0.3s ease-in-out;

}


.active{
    color:#ff4400 ;
    border-bottom:1px solid rgb(150, 146, 146) ;
}
nav ul li a:hover{
    color:#ff4400 ;
    border-bottom:1px solid rgb(150, 146, 146) ;

}
nav .icon i{
    cursor: pointer;
    margin-right: 20px;
    font-size: 20px;
    transition: 0.3s;
}
nav .icon i:hover{
    color: #ff4400 ;
}
.icon #icon-num1{
    font-size:25px;
    position: absolute;
    top: 18px;
    right: 90px;
    display: none;

}
.-menu{
    width: 100%;
    height: 300px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    background-color:#a87f70 ;
    position: fixed;
}   
.-menu ul li{
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.-menu ul li a{
    color: black;
}
.-menu ul li a .active{
    color:#ff4400 ;
    border-bottom:1px solid rgb(150, 146, 146) ;
}
.-menu ul li a:hover{
    color:  #ff4400;
    border-bottom:1px solid rgb(150, 146, 146) ;
}
.-menu ul #closee{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: move 2s 1 ;
    overflow: hidden;
    position: fixed;
    display: none;
    top: 0;
    background-color: orangered;

}

@keyframes move{
    0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(100px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

.login .content-nav{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: #e7e3e1;
    margin: 100px 0 0 350px;
    animation: move 2s 1 backwards;

}
.login .content-nav h1{
    margin-top: 20px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #ff4400;

}
.login .content-nav input{
    width: 340px;
    height: 40px;
    font-size: 18px;
    color:  #ff4400;
    border-radius: 8px;
    border: none;
    margin:  20px 0 0  3px;
    padding-left: 10px;
}
.login .content-nav button{
    width: 340px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color:  #ff4400;
   margin: 20px 0 0 3px;
   border-radius: 8px;
   border: none;
   cursor: pointer;

}
.login .content-nav button:hover{
    animation:pump 4s 1;

}
@keyframes pump {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1.2);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}



.login .content-nav p{
    font-size: 18px;
        margin:50px 0 0 50px
}
.login .content-nav p a{
    color: rgb(214, 99, 32);
}
.login .content-nav p a:hover{
    color: #ff4400;
}
.login i{
    font-size: 35px;
    margin-top: 30px;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
}
.num1 .content{
    width: 100%;
    height: 90%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.num1 .content .img{
    width: 99%;
    border: 1px solid;
    overflow: hidden;
    
}
.num1 .content .img img{
    width: 100%;
    height: 100%;
}
.num1 .content span{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 -60px;
    color: black;
    border-radius: 50%;
    border: 3px solid;
    margin-top: 10px;
    cursor: pointer;
    background-color: transparent;
}
.num1 .content .active{
    background-color: white;
}

.num2{
    width: 100%;
    height: 550px;
    margin-top: 50px;
}
.num2 h1{
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:40px ;

}
.num2 h1 span{
    color:#ff4400 ;
    margin: 0 3px 0 3px;
}

.num2 .content{
    width: 99%;
    height: 85%;
    margin-left: 6px;
    display: flex;
    align-items: center;
}
.num2 .content .pr{
    width: 200px;
    height: 200px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.num2 .content .pr p{
    font-size: 20px;
    padding: 10px; 
    margin-left: 20px;
    border-left:2px solid ;
    cursor: pointer;
}
.num2 .content .pr p.active{
    border-bottom:none ;
}
.num2 .content .pr p:hover{
    color: #ff4400;
    
}

.num2 .content .img2{
    width:380px;
    height: 380px;
    margin-left: 10px;
    background-image: url(pim-chu-z6NZ76_UTDI-unsplash.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 7px;
}
.num2 .content .con2{
    width: 350px;
    height:400px;
    margin-left: 15px;
}
.num2 .content .con2 .p1{
    font-size: 32px;
    margin: 25px 0 0 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.num2 .content .con2 .p1 span{
    color:  #ff4400;
}
.num2 .content .con2 .p2 span{
    color:  #ff4400;
}
.num2 .content .con2 .p2{
    font-size: 33px;
    margin: 20px 0 0 0px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.num2 .content .con2 p{
    font-size: 17px;
    margin: 15px 0 0 0px;
}
.ai{
    margin-top:50px;
}
.num2 .content .con2 .ai i{
    color: black;
    
    margin: 0px 0 0 15px;
    opacity: 0;
}
.num2 .content .con2 .ai a{
    color: black;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 130px;
}
.num2 .content .con2 .ai a:hover{
    color: #ff4400 ;
}
.num2 .content .con2 .ai:hover i{
    opacity: 1;
    color: #ff4400 ;
}
.num3{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.num3 .half1{
    width: 49%;
    height: 100%;
    margin-left: 10px;
    background-image: url(retail-shop-owner-mask-social-distancing-shopping.jpg);
    background-size: cover;
    
}
.num3 .half2{
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f8ff;
}
.num3 .half2 h1{
    font-size: 35px;
    margin: 15px;
    margin-left: -50px;
}
.num3 .half2 h1 span{
    color:  #ff4400;
    padding-right: 5px;

}
.num3 .half2 p{
    font-size: 18px;
    margin-left: 70px;
}
.ai{
    margin-top:50px;
    margin-left: -120px;
}
.num3  .half2 .ai i{
    color: black;
    
    margin: 0px 0 0 15px;
    opacity: 0;
    transition: 0.5s;
}
.num3  .half2 .ai a{
    color: black;
    font-size: 18px;
    margin-top: 50px;
    transition: 0.5s;
}
.num3 .half2 .ai a:hover{
    color: #ff4400 ;
}
.num3 .half2 .ai :hover i{
    opacity: 1;
    color: #ff4400;
}
@media(max-width:780px){
    nav ul{
        display: none;
    }
    .icon #icon-num1{
        display: block;
    }
    .login .content-nav {
        position: absolute;
        right: 200px;
    }
  

    @media (min-width:100px) and ( max-width:500px){

        .login .content-nav {
            position: absolute;
            right: 50px;
        }
    
    }
}


.num4{

    width: 100%;
    height: 500px;
}
.num4 h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    font-size: 35px;
    font-weight: 600;
}
.content-num4{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 5px 0 20px;
}
.content-num4 .card{
    width: 300px;
    height: 400px;
    
}
.content-num4 .card .img{
    width: 100%;
    height:280px;
    background-image: url(product/evan-mcdougall-qnh1odlqOmk-unsplash.jpeg);
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}
.content-num4 .card .img:hover{
    box-shadow: 0px 0px 15px 5px #888888;
}
.content-num4 .card .img .con{
    width: 100%;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-num4 .card .img .con p{
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background-color: white;
}
.content-num4 .card .img .con i{
    margin-right: 20px;
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.content-num4 .card .img .con i:hover{
    color: #ff4400;
}


.content-num4 .card .price{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-num4 .card .price h4{
    font-size:22px;
    margin-left: 15px;
}
.content-num4 .card .price p{
    font-size: 18px;
    margin-right: 15px;
}
.content-num4 .card p{
    display: flex;
    margin-left: 15px;
}
.card #img2{
    background-image: url(product/jordan-nix-CkCUvwMXAac-unsplash.jpeg);
}
.card #img3{
    background-image: url(product/nature-zen-3Dn1BZZv3m8-unsplash.jpeg);
}

.num4 a{
    position: absolute;
    margin: 430px 0 0 430px;
    font-size: 19px;
    color: #000;
    transition: 0.5s;
    z-index: -1;
}
.num4 a:hover{
    color:#ff4400;
}
.num5{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: column;
    margin-top: 50px;
    padding: 10px 0;
    background-color :#ff4400;
}
.num5 h1{
    padding: 15px 0;
}
/**media***/
@media(max-width:1000px){
    nav{
        flex-direction: column;
        background-color:transparent;
        margin-top: 20px;
    }
    .nav.logo{
        font-size: 37px;
        margin-bottom:15px;
    }
    nav ul li a{
        font-size: 20px;
        color: #fff;
        margin-top: 10px;
    }
    nav .icon{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;
        position: absolute;
        top: 25px;
    }
    nav .icon i{
        font-size: 30px;
        color: #fff;

    }
    @media (max-width:780px){
        nav{
            display: flex;
            flex-direction: row;
        }
        nav .icon{
            position: relative;
            width: 0;
            padding-right: 150px;
            padding-bottom: 40px;
        }
        .icon #icon-num1{
            position: absolute;
            top: -1px;
            font-size: 30px;
            right: 160px;
        }
        @media (min-width:600px) and (max-width:700px){
            nav{
                position: absolute;
                z-index: 100;
            }
           .num1 .content{
               position: relative;
               top: -44px;
               width: 100%;
               height: 60vh;
               z-index: -1;
           }
           .num1 .-menu{
               padding-top: 100px;
               font-size: 25px;
               height: 400px;
           }
           .num1 .login{
               padding-top: 100px;
           }
           .num1 .content .img img{
               height: 70vh;
           }
           .num1 .content .spa{
               display: none;
             
           }
           .num2 .content{
               height: auto;
               display: flex;
            flex-direction: column;
           }
           .num2 .content .pr p{
               font-size: 25px;
           }
           .num2 .content .img2{
               width: 100%;
           }
           .num2 .content .con2{
               width: 100%;
               text-align:center;
           }
           .num2 .content .con2 .p1{
            font-size: 40px;
           }
           .num2 .content .con2 p{
            font-size: 20px;
            width: 90%;
            padding-left: 20px;
           }
           .num2 .content .con2 .ai a{
                font-size: 30px;
           }
           .num3{
               margin-top: 500px;
               flex-direction: column;
               height: auto;
           }
           .num3 .half1{
               width: 100%;
               height: 350px;
               
           }
           .num3 .half2{
               width: 100%;
               text-align: center;
             
           }
           .num3 .half2 h1{
               margin: 0 0 5px 0 ;
               padding: 0;
           }
           .num3 .half2 p{
               margin: 40px 0 5px 0 ;
               padding: 0;
               font-size: 20px;
           }
           .num3  .half2 .ai a{
               padding: 0 0 0 100px;
                margin: 0 0 0 px;
                font-size: 30px;
           }
           .num4 .content-num4{
               width: 100%;
               height: auto;
               flex-direction: column;
               text-align: center;
               align-items: center;
           }
           .num4 .content-num4 a{
               position: relative;
               margin: 0;
               padding: 0;
               margin-bottom: 20px;
           }
           .num5{
            margin-top: 800px;
        }
        }
    }
}
@media (max-width:599px){
    nav{
        position: absolute;
        z-index: 100;
    }
    nav .logo{
        font-size: 15px;
        padding-bottom: 50px;
        margin-left: -7px;

    }
    nav .icon i{
        font-size: 15px;
        padding-bottom: 50px;
        padding-left: 10px;
    }
    .icon #icon-num1{
        font-size: 15px;
    }
    .num1{
        height: auto;
    }
   .num1 .content{
       position: relative;
       top: -44px;
       width: 100%;
       height: 60vh;
       z-index: -1;
   }
   .num1 .-menu{
       padding-top: 60px;
       font-size: 15px;
       height: 300px;
   }
   .num1 .login{
       padding-top: 100px;
   }
   .num1 .login i{
       font-size: 20px;
       margin-bottom: -80px;
   }
   .num1 .login .content-nav{
       width: 300px;
       margin-right: 5px;
   }
   .num1 .login .content-nav input{
       width: 90%;
       margin-left: 10px;
   }
   .num1 .login .content-nav button{
       width: 90%;
       margin-left: 10px;
   }
   .num1 .login .content-nav p{
      font-size: 15px;
   }
   .num1 .content .img{
        height: 600px;
       position: absolute;
       top: 0;
   }
   .num1 .content .img img{
       height: 100%;
   }
   .num1 .content .spa{
       display: none;
     
   }
   .num2{
       margin-top: 0;
   }
   .num2 h1{
       font-size: 25px;
       margin: 0;
   }
   .num2 .content{
       height: auto;
       display: flex;
    flex-direction: column;
   }
   .num2 .content .pr p{
       font-size: 15px;
   }
   .num2 .content .img2{
       width: 90%;
   }
   .num2 .content .con2{
       width: 100%;
       text-align:center;
   }
   .num2 .content .con2 .p1{
    font-size: 30px;
   }
   .num2 .content .con2 p{
    font-size: 15px;
    width: 90%;
    padding-left: 20px;
   }
   .num2 .content .con2 .ai a{
        font-size: 20px;
   }
   .num3{
       margin-top: 500px;
       flex-direction: column;
       height: auto;
   }
   .num3 .half1{
       width: 90%;
       height: 350px;
       
   }
   .num3 .half2{
       width: 100%;
       text-align: center;
     
   }
   .num3 .half2 h1{
       margin: 0 0 5px 0 ;
       padding: 0;
   }
   .num3 .half2 p{
       margin: 20px 0 5px 0 ;
       padding: 0;
       font-size: 15px;
       width: 70%;
   }
   .num3  .half2 .ai a{
       padding: 0 0 0 100px;
        margin: 0 0 0 0;
        font-size: 20px;
   }
   .num4 .content-num4{
       width: 100%;
       height: auto;
       flex-direction: column;
       text-align: center;
       align-items: center;
   }
   .num4 .content-num4 a{
       position: relative;
       margin: 0;
       padding: 0;
       margin-bottom: 20px;
   }
   .num5{
       margin-top: 800px;
   }
}


